<doctype html>
<html>
<head>	
	<style type="text/css">
		@media print{
			@page {
				size: landscape;
			}

            body * {
                visibility: hidden;                
            }

            #mom-area * {
                visibility: visible;
            }

            #mom-area {
                margin-left: -20mm;
                left: 0;
                top: 0;
            }    
		}

		table{
			border: 1px solid black;
		}

		tr{
			border: 1px solid black;
		}

		td{
			border: 1px solid black;
		}

		th{
			border: 1px solid black;
		}
	</style>
    <link rel="stylesheet" type="text/css" href="mom.css">
	<link rel="stylesheet" type="text/css" href="../../../assets/plugins/bootstrap/css/bootstrap.min.css">
</head>
<body onload="window.print()">
	<!-- <div style="background: grey; height: auto; padding: 10px;"> -->
    <!-- <button onclick="window.print()" style="float: left;">Print</button>             -->
    <div  class="container" style="color: black;background: grey; height: 100%; padding: 30px 80px 15px 80px;">
        <div id="mom-area" class="container" >

        	<!-- Header MOM -->
            <div class="row">
                <div class="col-12" style="width: 100%; height: 300px; padding:0px;">
                    <table style="width: 100%;">
				        <tr>
				            <th colspan="3" style="text-align: center;">
				                <h3 class="b7" style="width:100%;">MINUTES OF MEETING</h3>
				                <h4 class="b7">TELKOMSEL</h4>
				            </th>
				        </tr>
				        <tr>
				            <td rowspan="2" style="width:35%;">
				                <div>Distribution:</div>
				                <div class="b7">VP NIM</div>
				                <div class="b7">VP NOM</div>
				                <div class="b7">VP NDS</div>
				                <div class="b7">VP NPE</div>
				            </td>
				            <td style="width:35%;">
				                <div>Moderator:</div>
				                <div>Hady Januardy</div>
				            </td>
				            <td rowspan="2" style="width:30%;padding:10px;">
				                <img src="/src/assets/image/telkomsel.png" style="width: 260px; height: 100px;">
				            </td>
				        </tr>
				        <tr>
				            <td>
				                <div>MOM Writter:</div>
				                <div>Hady Januardy</div>
				            </td>
				        </tr>
				        <tr>
				            <td>
				                <div class="b7">Date:</div>
				                <div>11 Oktober 2018</div>
				            </td>
				            <td>
				                <div class="b7">From - To:</div>
				                <div>15.30 - 17.00 WIB</div>
				            </td>
				            <td>
				                <div class="b7">Location:</div>
				                <div>TSO 8th Floor</div>
				            </td>
				        </tr>
				        <tr>
				            <td colspan="3">
				                <h5 class="b7">Subject : Laporan BTS On Air Bulan September 2018</h5>
				            </td>
				        </tr>
				    </table>
                </div>
            </div>
            <!-- <div class="row r">
                <div class="b7">Latar Belakang:</div>
                <paragraph-pdf [head]="'1.'" [text]="'Menunjukkan Keputusan Direktur Perseroan No. 022/NF.01/NT-00/VI/2014 tertanggal 18 Juni 2014 tentang Kebijakan RAN Planning Guideline Direktur Network Perseroan'"></paragraph-pdf>
                <paragraph-pdf [head]="'2.'" [text]="'Nodin GM RAN & CORE Network Deployment No. 095/TC.01/NL-11/X/2018 tertanggal 1 oktober 2018 tentang Pelaporan On Air New Site dan Modernisasi Bulan September 2018.'"></paragraph-pdf>
                <paragraph-pdf [head]="'3.'" [text]="'Data gathering sysinfo September 2018 oleh RANOP'"></paragraph-pdf>
            </div>
            <div class="row r">
                <div class="b7">Kesepakatan:</div>
                <div>1. Sesuai report pembangunan BTS on-air dan site existing dari hasil rekon SYSINFO regional berikut pertumbuhan jumlah BTS dan site untuk periode 1 - 30 September 2018:</div>
                <table class="t" style="width: 675px;">
                    <tr>
                        <th>Radio Network Capacity Built (Unit)</th>
                        <th>Apr 18</th>
                        <th>May 18</th>
                        <th>Jun 18</th>
                        <th>Jul 18</th>
                        <th>Aug 18</th>
                        <th>Sep 18</th>                        
                    </tr>
                    <tr *ngFor="let i of momTable1" style="text-align: right;">
                        <td>{{i.title}}</td>
                        <td>{{i.data1}}</td>
                        <td>{{i.data2}}</td>
                        <td>{{i.data3}}</td>
                        <td>{{i.data4}}</td>
                        <td>{{i.data5}}</td>
                        <td>{{i.data6}}</td>
                    </tr>
                </table>                
            </div>
            <div class="row r">
                <div class="t" style="width: 100%">Detail jumlah BTSOn Air per Regional sbb:</div>
                <div>
                    <table class="table-pdf t">
                        <tr>
                            <th colspan="7" style="width:450px;text-align:center;">Resume SysInfo SEPTEMBER 2018</th>                            
                        </tr>
                        <tr>
                            <th rowspan="2">No</th>
                            <th rowspan="2">Regional</th>
                            <th colspan="2">2G</th>
                            <th colspan="2">3G</th>
                            <th colspan="2">4G</th>
                        </tr>
                        <tr>
                            <th>BSC</th>
                            <th>BTS</th>
                            <th>RNC</th>
                            <th>NODEB</th>
                            <th>ENODEB</th>
                        </tr>
                        <tr *ngFor="let i of momTable2">
                            <td style="text-align: center;">{{i.no}}</td>
                            <th>{{i.regional}}</th>
                            <td style="text-align: right;">{{i.data1}}</td>
                            <td style="text-align: right;">{{i.data2}}</td>
                            <td style="text-align: right;">{{i.data3}}</td>
                            <td style="text-align: right;">{{i.data4}}</td>
                            <td style="text-align: right;">{{i.data5}}</td>
                        </tr>
                        <tr>
                            <th colspan="2">TOTAL</th>
                            <th style="text-align: right;">498</th>
                            <th style="text-align: right;">50315</th>
                            <th style="text-align: right;">344</th>
                            <th style="text-align: right;">82219</th>
                            <th style="text-align: right;">47616</th>
                        </tr>
                    </table>
                </div>                
            </div>
            <div class="row r">
                <div style="width: 100%">2. Dismantle Period September 2018</div>
                <table class="t" style="width: 960px;">
                    <tr>
                        <th style="width: 100px;">Region</th>
                        <th style="width: 80px;">SiteNo</th>
                        <th style="width: 280px;">OSS Site Name</th>
                        <th style="width: 70px;">Band</th>
                        <th style="width: 95px;">Scope</th>
                        <th style="width: auto;">Remark</th>
                    </tr>
                    <tr *ngFor="let i of momTable3">
                        <td>{{i.region}}</td>
                        <td>{{i.siteno}}</td>
                        <td>{{i.oss_site_name}}</td>
                        <td>{{i.band}}</td>
                        <td>{{i.scope}}</td>
                        <td>{{i.remark}}</td>
                    </tr>
                </table>
            </div>
            <div class="row r">
                <div>3. Butuh klarifikasi untuk NEID 4G achievement Juni 2018, karena databasenya tidak ada di STYLO. Target follow up RAND dan RAO tanggal 25 Oktober 2018</div>
                <div class="t" style="width: 100%">Achievement Juni 2018</div>
                <table class="t" style="width: 900px;">
                    <tr>
                        <th>Region</th>
                        <th>SiteNo</th>
                        <th>SOW2</th>
                        <th>Band</th>
                        <th>Vendor</th>
                        <th>Remark</th>
                    </tr>
                    <tr *ngFor="let i of momTable4">
                        <td>{{i.region}}</td>
                        <td>{{i.data1}}</td>
                        <td>{{i.data2}}</td>
                        <td>{{i.data3}}</td>
                        <td>{{i.data4}}</td>
                        <td>{{i.data5}}</td>
                    </tr>
                </table>
            </div>
            <div class="row r">
                <div>4. Need crosscheck ulang, pending item activity dismantle dan relokasi yang belum ada BAPA, akan di follow up rekan Network Asset Management ke Regional.</div>
                <div class="t" style="width: 100%">Remark Dismantle hasil sysinfo Jan - Sep 2018.</div>
                <table class="t">
                    <tr>
                        <th>Rekon Sysinfo</th>
                        <th>2G</th>
                        <th>3G</th>
                        <th>4G</th>
                        <th>Grand Total</th>
                    </tr>
                    <tr>
                        <td>Jan-18</td>
                        <td></td>
                        <td>5</td>
                        <td></td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>REGIONAL2</td>
                        <td></td>
                        <td>4</td>
                        <td></td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>REGIONAL3</td>
                        <td></td>
                        <td>1</td>
                        <td></td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>Jun-18</td>
                        <td>12</td>
                        <td>8</td>
                        <td></td>
                        <td>25</td>
                    </tr>
                    <tr>
                        <td>REGIONAL2</td>
                        <td>12</td>
                        <td>8</td>
                        <td></td>
                        <td>20</td>
                    </tr>
                    <tr>
                        <td>REGIONAL11</td>
                        <td></td>
                        <td>5</td>
                        <td></td>
                        <td>5</td>
                    </tr>
                    <tr>
                        <td>Jul-18</td>
                        <td>3</td>
                        <td>5</td>
                        <td>1</td>
                        <td>9</td>
                    </tr>
                    <tr>
                        <td>REGIONAL2</td>
                        <td>1</td>
                        <td>4</td>
                        <td>1</td>
                        <td>11</td>
                    </tr>
                    <tr>
                        <td>REGIONAL11</td>
                        <td>2</td>
                        <td>1</td>
                        <td></td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>Aug-18</td>
                        <td>46</td>
                        <td>157</td>
                        <td>10</td>
                        <td>213</td>
                    </tr>
                    <tr>
                        <td>REGIONAL1</td>
                        <td>1</td>
                        <td>2</td>
                        <td></td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>REGIONAL4</td>
                        <td></td>
                        <td>3</td>
                        <td></td>
                        <td>3</td>
                    </tr>
                    <tr>
                        <td>REGIONAL6</td>
                        <td>8</td>
                        <td>6</td>
                        <td>5</td>
                        <td>19</td>
                    </tr>
                    <tr>
                        <td>REGIONAL8</td>
                        <td>37</td>
                        <td>72</td>
                        <td>1</td>
                        <td>110</td>
                    </tr>
                    <tr>
                        <td>REGIONAL9</td>
                        <td></td>
                        <td>74</td>
                        <td>4</td>
                        <td>78</td>
                    </tr>
                    <tr>
                        <td>Sep-18</td>
                        <td>356</td>
                        <td>359</td>
                        <td>54</td>
                        <td>769</td>
                    </tr>
                    <tr>
                        <td>REGIONAL3</td>
                        <td>265</td>
                        <td>147</td>
                        <td>42</td>
                        <td>454</td>
                    </tr>
                    <tr>
                        <td>REGIONAL7</td>
                        <td>54</td>
                        <td>62</td>
                        <td>6</td>
                        <td>122</td>
                    </tr>
                    <tr>
                        <td>REGIONAL8</td>
                        <td>37</td>
                        <td>74</td>
                        <td>1</td>
                        <td>112</td>
                    </tr>
                    <tr>
                        <td>REGIONAL9</td>
                        <td></td>
                        <td>76</td>
                        <td>5</td>
                        <td>81</td>
                    </tr>
                    <tr>
                        <td>Grand Total</td>
                        <td>417</td>
                        <td>539</td>
                        <td>65</td>
                        <td>1021</td>
                    </tr>
                </table>
            </div>
            <div class="row r">
                <div>5. Terkait selisih data sysinfo dan asset (physical asset) akan di follow up lebih lanjut setelah selesai proses asset tagging oleh NAM</div>                
            </div>
            <div class="row" style="margin-top: 65px;">
                <h5 class="b7" style="width:100%">NOTE:</h5>
                <div>Untuk perhitungan jumlah NE 4G Indoor, mengikuti perhitungan BTS Macro dan berdasarkan jumlah BBU terinstall.</div>    
            </div>
            <div class="row r">
                <table style="margin-left:auto;margin-right:auto;width: 950px;">
                    <tr>
                        <td style="text-align:center;    width: 20%;">
                            <div style="height: 100px;"></div>
                            <div>Hady Januardi</div>
                        </td>
                        
                        <td style="text-align:center;    width: 20%;">
                            <div style="height: 100px;"></div>
                            <div>M Nurohman N</div>
                        </td>
                        
                        <td style="text-align:center;    width: 20%;">
                            <div style="height: 100px;"></div>
                            <div>Joy HT. Saragih</div>
                        </td>
                        <td style="text-align:center;    width: 20%;">
                            <div style="height: 100px;"></div>
                            <div>Duta Wijaya</div>
                        </td>
                        <td style="text-align:center;    width: 20%;">
                            <div style="height: 100px;"></div>
                            <div>Bambang A Widodo</div>
                        </td>
                    </tr>
                    <tr>
                        <td style="text-align:center;">
                            <div style="height: 100px;"></div>
                            <div>Deden Karmana</div>
                        </td>
                        <td style="text-align:center;">
                            <div style="height: 100px;"></div>
                            <div>Baskoro Adi Budiarjo</div>
                        </td>
                        <td style="text-align:center;">
                            <div style="height: 100px;"></div>
                            <div>Mohamad_ichsan</div>
                        </td>
                        <td style="text-align:center;">
                            <div style="height: 100px;"></div>
                            <div>Genta Buana</div>
                        </td>
                        <td style="text-align:center;">
                            <div style="height: 100px;"></div>
                            <div>Hartanto Lestiono</div>
                        </td>
                    </tr>
                    <tr>
                        <td class="b7" colspan="5" style="text-align:center;">Mengetahui</td>
                    </tr>
                    <tr>                        
                        <td colspan="2" style="text-align:center;">
                            <div style="height: 100px;"></div>
                            <div>Chairuddin</div>
                        </td>
                        <td style="text-align:center;">
                            <div style="height: 100px;"></div>
                            <div>Iswandi</div>
                        </td>
                        <td style="text-align:center;">
                            <div style="height: 100px;"></div>
                            <div>Cecep Riswandi</div>
                        </td>
                        <td style="text-align:center;">
                            <div style="height: 100px;"></div>
                            <div>Suharno</div>
                        </td>
                    </tr>
                </table>
            </div> -->
        </div>
    </div>
    <!-- </div> -->
	<script src="change/jquery.js"></script>
	<script type="text/javascript">
		var siswa = [
		{"id":"1", "nama":"ayas", "kelas":"11"},
		{"id":"2", "nama":"ayas", "kelas":"12"},
		{"id":"3", "nama":"ayas", "kelas":"12"}
		]

		// var tables = $("table")		
		// for (var i = siswa.length - 1; i >= 0; i--) {	
		// 	var row = $("<tr></tr>")		
		// 	var td_nama = $("<td></td>")
		// 	var td_kelas = $("<td></td>")
		// 	var nama = siswa[i].nama
		// 	var kelas = siswa[i].kelas
		// 	td_nama.text(nama)
		// 	td_kelas.text(kelas)
		// 	// row.attr.id(siswa[i].id)
		// 	row.append(td_nama)
		// 	row.append(td_kelas)
		// 	tables.append(row)
		// }				
		
	</script>	
</body>
</html>