table {
    border: solid 1px black;
}

tr {
    border: solid 1px black;
}

th {
    border: solid 1px black;    
}

td {
    border: solid 1px black;
    padding: 5px;
}

.b7{
    font-weight: 700;
}

.b4{
    font-weight: 400;
}

