<!-- <table>  
  <tr>
    <th>Title</th>
    <th *ngFor="let i of items">{{dateStr(i.date)}}</th>
  </tr>
  <tr>
    <td>
      <div style="width: 100%;border-bottom: 1px solid;">BTS 2G - On Air this year</div>
      <div style="width: 100%;border-bottom: 1px solid;">BTS 2G - Dismantled </div>
      <div style="width: 100%;border-bottom: 1px solid;">BTS 2G -Total On Air</div>
      <div style="width: 100%;border-bottom: 1px solid;">BTS 3G - On this year</div>
      <div style="width: 100%;border-bottom: 1px solid;">BTS 3G - Dismantled </div>
      <div style="width: 100%;border-bottom: 1px solid;">BTS 3G - Total On Air</div>
      <div style="width: 100%;border-bottom: 1px solid;">BTS 4G - On this year</div>
      <div style="width: 100%;border-bottom: 1px solid;">BTS 4G - Dismantled </div>
      <div style="width: 100%;border-bottom: 1px solid;">BTS 4G - Total On Air</div>
      <div style="width: 100%;border-bottom: 1px solid;">TRX - On Air this year</div>
      <div style="width: 100%;border-bottom: 1px solid;">TRX - Dismantled </div>
      <div style="width: 100%;border-bottom: 1px solid;">TRX - Total On Air</div>
      <div style="width: 100%;border-bottom: 1px solid;">Jumlah BTS (2G, 3G & 4G) </div>
      <div style="width: 100%;border-bottom: 1px solid;">Jumlah Site 2G Only</div>
      <div style="width: 100%;border-bottom: 1px solid;">Jumlah Site 3G Only</div>
      <div style="width: 100%;border-bottom: 1px solid;">Jumlah Site 4G Only </div>
      <div style="width: 100%;border-bottom: 1px solid;">Jumlah Site 2G 3G & 4G</div>
      <div style="width: 100%;">Total Jumlah Site </div>
    </td>
    <td *ngFor="let i of items">
        <div style="width: 100%;border-bottom: 1px solid;">{{i.onair_2g}}</div>
        <div style="width: 100%;border-bottom: 1px solid;">{{i.offair_2g}}</div>
        <div style="width: 100%;border-bottom: 1px solid;">{{i.total_2g}}</div>
        <div style="width: 100%;border-bottom: 1px solid;">{{i.onair_3g}}</div>
        <div style="width: 100%;border-bottom: 1px solid;">{{i.offair_3g}}</div>
        <div style="width: 100%;border-bottom: 1px solid;">{{i.total_3g}}</div>
        <div style="width: 100%;border-bottom: 1px solid;">{{i.onair_4g}}</div>
        <div style="width: 100%;border-bottom: 1px solid;">{{i.offair_4g}}</div>
        <div style="width: 100%;border-bottom: 1px solid;">{{i.total_4g}}</div>
        <div style="width: 100%;border-bottom: 1px solid;">{{i.onair_trx}}</div>
        <div style="width: 100%;border-bottom: 1px solid;">{{i.offair_trx}}</div>
        <div style="width: 100%;border-bottom: 1px solid;">{{i.total_trx}}</div>
        <div style="width: 100%;border-bottom: 1px solid;">{{i.total_all}}</div>
        <div style="width: 100%;border-bottom: 1px solid;">{{i.only_2g}}</div>
        <div style="width: 100%;border-bottom: 1px solid;">{{i.only_3g}}</div>
        <div style="width: 100%;border-bottom: 1px solid;">{{i.only_4g}}</div>
        <div style="width: 100%;border-bottom: 1px solid;">{{i.collocation}}</div>
        <div style="width: 100%;">{{i.total_all_site}}</div>
    </td>   
  </tr> 
</table> -->

<!-- <button (click)="openDialogMom()">MOM</button> -->