<div class="updown-container">
  <div class="updown-header">{{region}}</div>
  <div class="updown-body">    
    <mat-grid-list cols="2" rowHeight="4:1">
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile></mat-grid-tile>
        <mat-grid-tile class="updown-count" [colspan]="1" [rowspan]="2">{{data}}</mat-grid-tile>                   
        <mat-grid-tile style="color:greenyellow;"><i class="fas fa-angle-up"></i>&nbsp;{{up}}</mat-grid-tile>        
        <mat-grid-tile></mat-grid-tile>  
        <mat-grid-tile style="font-family: unset; font-size: 13px;">License</mat-grid-tile>        
        <mat-grid-tile style="color:firebrick"><i class="fas fa-angle-down"></i>&nbsp;{{down}}</mat-grid-tile>        
      </mat-grid-list>
  </div>
</div>