.updown-container{
  width: 105px;
  height: 93px;
  background: black;
  margin: 2px;
}

.updown-header{
  widows: 100%;
  height: 20px;
  background: grey;
  color: white;
  text-align: center;
  font-size: 15px;

}

.updown-body{
  color: white;
}

.updown-count{
  color: red;  
  font-size: 26px;
    font-family: sans-serif;
    font-weight: bold;
}