<style>
    .dropClass {
      /* display: none; */
        visibility: hidden;
        opacity: 0;
        transition: 
        all .5s ease;
        background-color: transparent;
        min-width: 160px;
        overflow: auto;
        z-index: 1;
        height: 0;
      
    }
    
    .dropClass a {
      color: black;
      padding: 12px 16px;
      /* text-decoration: none; */
      display: block;
    }
    
    .dropClass a:hover {background-color: rgba(255,255,255,.1);}
    .show {
        /* display: block; */
        visibility: visible;
        opacity: 1;
        height: auto;
        padding: 0.5rem 1rem;
        background-color: rgba(255,255,255,.3);
        margin-bottom: 1.5%;
        border-radius: 3%;
    }

    .putar {
        transform: rotate(90deg);
        transition: all .5s ease;
    }
    </style>

<!-- *** Navbar *** -->
<div class="wrapper">    
        <nav class="main-header navbar navbar-expand bg-white" 
        style=" 
        position: fixed;       
        width: 100%;
        overflow: hidden;
        background: #343a40 !important;
        ">
        <!-- <img src="./assets/image/wall5.jpg" class="backgroundImg2" style="position: fixed;
    width: 100%;"> -->
    <img src="dashboard-license/assets/image/wall5.jpg" class="backgroundImg2" style="position: fixed;
    width: 100%;">

            <!-- Left navbar links -->
        <ul class="navbar-nav" style="z-index: 9999">
          <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#"><i class="fa fa-bars nav-button"></i></a>
          </li>
          <li style="border: none;padding: 5px 0px 0px 15px; width: 200px;font-size: larger;font-weight:400;">
            <div class="toolbar-title" style="color: #fff;">NEISA | LICENSE</div> 
          </li>
          <li style="border: none">
            <p>
              <a onclick="sessionStorage.clear();" href="http://10.54.36.49/landingPage/" class="btn btn-lg" style="
                    color: #343a40;
                    background-color: #fff;
                    position: fixed;
                    font-size: 10px;
                    right: 1%;
                    top: 0px;
                    height: auto;
                    padding: 1%;">
                  <i class="fa fa-sign-out-alt"></i>
                    Log out
              </a>
            </p> 
          </li>  
        </ul>  
      </nav>
</div>

<aside class="main-sidebar sidebar-dark-primary elevation-4" style="overflow: hidden;"> 
    <!-- <img src="./assets/image/wall3.jpg" class="backgroundImg">    -->
    <img src="dashboard-license/assets/image/wall3.jpg" class="backgroundImg">   
    <a href="#" class="brand-link">
        <img class="brand-image" src="dashboard-license/assets/image/tsel-white.png">
        <!-- <span class="brand-text font-weight-light">Dashboard License</span> -->
    </a>
        
    <div class="sidebar">
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                    <li class="nav-item">
                        <a href="http://10.54.36.49/dashboard-bts-on-air/public/" class="nav-link" style="color: #fff;padding: 0.5rem 1rem !important;">
                        <i class="nav-icon fa fa-home"></i>
                            <p style="margin-left: 3px;">Dashboard</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="dashboard-license/#" class="nav-link aa active" style="color: #fff;padding: 0.5rem 1rem !important;">
                        <i class="nav-icon fa fa-newspaper"></i>
                            <p style="margin-left: 3px;">License</p>
                        </a>
                    </li>
                    <!-- <li class="nav-item">
                        <a href="http://10.54.36.49/btsonair" class="nav-link " style="color: #fff;padding: 0.5rem 1rem !important;">
                        <i class="nav-icon fa fa-broadcast-tower"></i>
                            <p style="margin-left: 3px;">BTS Status</p>
                        </a>
                    </li> -->
    
                    <li class="nav-item">
                        <a (click)="dropDead()" class="nav-link aa dropbtn" style="color: #fff;padding: 0.5rem 1rem !important;">
                            <i class="nav-icon fa fa-angle-right" id="dropIcon"></i>
                            <p style="margin-left: 3px;">Create</p>
                        </a>
                    </li>
                    <div class="dropClass" id="dropId">
                        <li class="nav-item">
                            <a href="http://10.54.36.49/apk-nodin/index.php/NodinController" class="nav-link aa" style="color: #fff;padding: 0.5rem 1rem !important;">
                                <i class="nav-icon fa fa-list-alt"></i>
                                <p style="margin-left: 3px;">Create Integrasi</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="http://10.54.36.49/apk-nodin-stylo/index.php/NodinController" class="nav-link aa" style="color: #fff;padding: 0.5rem 1rem !important;">
                                <i class="nav-icon fa fa-list-alt"></i>
                                <p style="margin-left: 3px;">Create Rehoming</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="http://10.54.36.49/apk-nodin-dismantle/index.php/NodinController" class="nav-link aa" style="color: #fff;padding: 0.5rem 1rem !important;">
                                <i class="nav-icon fa fa-list-alt"></i>
                                <p style="margin-left: 3px;">Create Dismantle</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="http://10.54.36.49/apk-nodin-relocation/index.php/NodinController" class="nav-link aa" style="color: #fff;padding: 0.5rem 1rem !important;">
                                <i class="nav-icon fa fa-list-alt"></i>
                                <p style="margin-left: 3px;">Create Relocation</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="http://10.54.36.49/apk-nodin-swap/index.php/NodinController" class="nav-link aa" style="color: #fff;padding: 0.5rem 1rem !important;">
                                <i class="nav-icon fa fa-list-alt"></i>
                                <p style="margin-left: 3px;">Create Swap</p>
                            </a>
                        </li>
                    </div>
                    <li class="nav-item">
                        <a href="http://10.54.36.49/change-front-2/public/" class="nav-link aa" style="color: #fff;padding: 0.5rem 1rem !important;">
                            <i class="nav-icon fa fa-project-diagram"></i>
                            <p style="margin-left: 3px;">Process Tracking</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="http://10.54.36.49/tableList" class="nav-link aa" style="color: #fff;padding: 0.5rem 1rem !important;">
                        <i class="nav-icon fa fa-table"></i>
                            <p style="margin-left: 3px;">Nodin & MoM Report</p>
                        </a>
                    </li>
                    <li class="nav-item">
                    <a href="http://10.54.36.49/apk-report/index.php/ReportController" class="nav-link aa" style="color: #fff;padding: 0.5rem 1rem !important;">
                        <i class="nav-icon fa fa-book"></i>
                        <p style="margin-left: 3px;">Report Remedy</p>
                    </a>
                </li>
            </ul>
        </nav>                                  
    </div>
</aside>

<!-- <div style="height: 100%;"> -->
<div class="content-wrapper" style="height: 100%;min-height: 100%;margin-top: 4%;">
    <router-outlet #o="outlet"></router-outlet>
    <!-- <chart-dynamic></chart-dynamic> -->
</div>
