<mat-sidenav-container>
      <div style="float: right">
          <button style="float: right;right: 15px;position: absolute;" *ngIf="!isAuthenticated"
          mat-icon-button
          [matMenuTriggerFor]="toolbarUserMenu">
    <mat-icon fontSet="fas" fontIcon="fa-user-circle"></mat-icon>
  </button>
  <mat-menu #toolbarUserMenu="matMenu">
    <button mat-menu-item (click)="onLogoutClick()">
      <mat-icon fontSet="fas" fontIcon="fa-power-off"></mat-icon>
      <span>Logout</span>
    </button>
  </mat-menu>
      </div>        
  <!-- <mat-sidenav #sidenav mode="push" [opened]="true">
    <div class="branding"><img [src]="logo"/> <span>LICENSE</span></div>
    <mat-nav-list>
      <a mat-list-item *ngFor="let item of navigationSideMenu" (click)="sidenav.close()"
         [routerLink]="[item.link]" routerLinkActive="active">
        {{item.label}}
      </a>
      <a mat-list-item>
        <div style="width: 100%" (click)="navigateBts(); sidenav.close()">BTS ON AIR</div>
      </a>      
      <a mat-list-item>
        <div style="width: 100%" (click)="navigateNodin(); sidenav.close()">NODIN</div>
      </a>      
      <a mat-list-item>
        <div style="width: 100%" (click)="navigateChange(); sidenav.close()">PROJECT TRACKING</div>
      </a>      
    </mat-nav-list>
  </mat-sidenav> -->

  <!-- <div class="toolbar">
    <mat-toolbar color="primary" style="height: 35px;background: #292929;padding-left:0px;">      
      <div>        
          <button mat-icon-button (click)="sidenav.open()" style="width: 55px;">
          <mat-icon fontSet="fas" fontIcon="fa-bars"></mat-icon>
        </button>
      </div>
      <div id="toolbar-title">
        <img style="width:35px" [src]="logo"/>
        &nbsp;&nbsp;BTS ON AIR
      </div>
      
      <button style="float: right;right: 15px;position: absolute;" *ngIf="!isAuthenticated"
              mat-icon-button
              [matMenuTriggerFor]="toolbarUserMenu">
        <mat-icon fontSet="fas" fontIcon="fa-user-circle"></mat-icon>
      </button>
      <mat-menu #toolbarUserMenu="matMenu">
        <button mat-menu-item (click)="onLogoutClick()">
          <mat-icon fontSet="fas" fontIcon="fa-power-off"></mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
    </mat-toolbar>
  </div> -->

  <div class="wrapper" style="margin-top:-5px; ">
    <div class="content" style="height: 100%"
         [@routeAnimations]="o.isActivated && o.activatedRoute.routeConfig.path">
      <router-outlet #o="outlet"></router-outlet>
    </div>

    <!-- <div class="footer" style="background: #292929;">
      <div class="row">
      </div>
    </div> -->

  </div>

</mat-sidenav-container>



