.boa-form-container{
    /* width: 655px; */
    width: 100%;
    height: 100%;
    background: #2d2d2d;
    display: inline-block;
    padding: 1%;
}

.janula-header {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width:100%;
    background-color: #0015ae;
    color: white;
    border-radius: 10px 10px 10px 10px;
    text-align: center;
}

.janula-body {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.janula {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #fff;
}

::ng-deep .mat-chip-list-wrapper {
    margin: 0px !important;
  }