<mat-chip-list style="margin-top: 0px;padding: 0px;">
<div class="boa-form-container">
        <!-- <div class="row"> -->
                <!-- <mat-chip class="janula-header" color="primary" selected>
                        {{header}}
                </mat-chip> -->
                <div class="janula-header">{{header}}</div>
                <div class="janula-body">
                        
                        <mat-grid-list cols="1" rowHeight="27px" >

                                <mat-grid-tile class="janula">
                                    {{row1}}
                                </mat-grid-tile>
                                <mat-grid-tile class="janula">
                                    {{row2}}
                                </mat-grid-tile>
                                <mat-grid-tile class="janula">
                                    {{row3}}
                                </mat-grid-tile>
                          </mat-grid-list>
                
                
                </div>
            
        <!-- </div> -->
    </div>



    <!-- <mat-grid-tile>
            <mat-chip-list style="width:100%;">
                <mat-chip class="janula" color="primary" selected>
                    {{sinyal}}
                </mat-chip>
            </mat-chip-list>
        </mat-grid-tile> -->
    </mat-chip-list>