<table style="width: 100%;">
        <tr>
            <th colspan="3" style="text-align: center;">
                <h3 class="b7" style="width:100%;">MINUTES OF MEETING</h3>
                <h4 class="b7">TELKOMSEL</h4>
            </th>
        </tr>
        <tr>
            <td rowspan="2" style="width:35%;">
                <div class="b4">Distribution:</div>
                <div class="b7">VP NIM</div>
                <div class="b7">VP NOM</div>
                <div class="b7">VP NDS</div>
                <div class="b7">VP NPE</div>
            </td>
            <td style="width:35%;">
                <div class="b4">Moderator:</div>
                <div class="b4">Hady Januardy</div>
            </td>
            <td rowspan="2" style="width:30%;padding:10px;">
                <img src="/src/assets/image/telkomsel.png" style="width: 260px; height: 100px;">
            </td>
        </tr>
        <tr>
            <td>
                <div class="b4">MOM Writter:</div>
                <div class="b4">Hady Januardy</div>
            </td>
        </tr>
        <tr>
            <td>
                
                <div class="b7">Date:</div>
                <div class="b4">11 Oktober 2018</div>
            </td>
            <td>
                <div class="b7">From - To:</div>
                <div class="b4">15.30 - 17.00 WIB</div>
            </td>
            <td>
                <div class="b7">Location:</div>
                <div class="b4">TSO 8th Floor</div>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <h5 class="b7">Subject : Laporan BTS On Air Bulan September 2018</h5>
            </td>
        </tr>
    </table>