<div class="activation-container">
    <div class="activation-header">
        {{region}}
    </div>
    <div class="activation-body">
        <mat-grid-list cols="12" rowHeight="25">        
            <mat-grid-tile [colspan]="3" [rowspan]="2">
                <i class="fas fa-user-circle" style="font-size:35px;"></i>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="7" [rowspan]="1">
                <div class="activation-label"></div>                
            </mat-grid-tile>
            <mat-grid-tile class="activation-bulet" [colspan]="2" [rowspan]="1">
                    <i class="fas fa-circle"></i>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="7" [rowspan]="1">
                <div class="activation-label"></div>                
            </mat-grid-tile>
            <mat-grid-tile class="activation-bulet" [colspan]="2" [rowspan]="1">
                    <i class="fas fa-circle"></i>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>