.activation-container{
    width: 210px;
    background: grey;
    height: 75px;
    margin-right: 5px;
    margin-top: 15px;
}

.activation-header{
    padding-left: 10px;
    background: #2d2d2d;
    color: white;
    height: 20px;
    font-size: 14px;
}

.activation-body{

}

.activation-label{    
    width: 125px;
    height: 18px;
    background: #f3cccc;
    border-radius: 2px;
}

.activation-bulet{
    color: #a6e829;
}