<div class="license-container" id="bungkus">
    <!-- <img src="./assets/image/wall3.jpg" class="backgroundImg">    -->
        <!-- <input type="button" value="CPTURE" (click)="captureScreen()"/> -->
        <div class="row" style="height: 50%; min-height: 350px;">
            <!--**** Map ****-->
            <div class="col-md-4" style="margin-left: -7px;height: auto;">
                <div class="col-md-12" style="padding: 0px; height: 100%;">
                    <div class="kepalak">
                        <h5>License Chart 2G</h5>
                    </div> 
                    <div style="height: 90%; ">
                        <!-- <div class="row" style="height: 100%;"> -->
                        <div class="row">
                            <!-- <p style="color: #fff;
                            position: absolute;
                            text-align: center;
                            width: 100%;">Jumlah TRX</p> -->
                            <div class="col-6" *ngFor="let i of newlicenseChart2g; let lcid = index" [attr.data-index]="lcid">
                                <!-- <div class="col-6"> -->
                                <!--*** START BIKIN BARU DUAL AXIS ***-->
                                    <!-- <chart-dual-vendor-2g [id]="'chartdiv'+lcid" [vendor]="i.vendor" [data]="i.data">
                                    </chart-dual-vendor-2g> -->
                                    <chart-bar-new [id]="chartdiv0" [data]="newlicenseChart2g[0]">
                                    </chart-bar-new>

                                    <!-- <chart-bar-newTest [id]="'chartdiv9'" [data]="newlicenseChart2g">
                                    </chart-bar-newTest> -->
                                    
                                <!--*** END BIKIN BARU DUAL AXIS ***-->
                            </div>
                        </div>
                                <!-- <p style="    color: #fff;
                                position: absolute;
                                text-align: center;
                                width: 100%;
                                bottom: 50%;">Power (Watt)</p> -->
                        <div class="row">
                            <div class="col-6" *ngFor="let i of powerlicenseChart2g; let lcid = index" [attr.data-index]="lcid">
                                <chart-bar-power [id]="'chartdiv1'" [data]="powerlicenseChart2g[0]">
                                </chart-bar-power>
                            </div>

                        </div> 
                        <div class="row" style="bottom: 1%;position: absolute;">
                            <div class="legend-symbol" style="background:rgba(48, 208, 220, .9)"></div>
                            <div class="legend-text">: Active</div>
                            <div class="legend-symbol" style="background:rgba(252, 112, 115, .9)"></div>
                            <div class="legend-text">: Not Active</div>     
                            <div class="legend-symbol" style="background:rgba(151,122,208, .9)"></div>
                            <div class="legend-text">: Total</div>                       
                        </div>    
                        <div class="row" style="bottom: 5%;left: 5%;position: absolute;width: 100%;">
                            <div class="legend-text" style="margin-left: 5%" >Last Update: </div>
                            <div class="legend-text"> Monday, 18-March-2019</div>
                        </div>                     
                    </div>            
                </div>            
            </div>     

            <div class="col-md-4" style="margin-left: -7px;height: auto;">
                    <div class="col-md-12" style="padding: 0px; height: 100%;">
                        <div class="kepalak">
                            <h5>License Chart 3G</h5>
                        </div> 
                        <div style="height: 90%;">
                            <div class="row">
                                <!-- <p style="color: #fff;
                                position: absolute;
                                text-align: center;
                                width: 100%;">Jumlah Cell</p> -->
                                <div class="col-6" *ngFor="let i of newlicenseChart3g; let lcid = index" [attr.data-index]="lcid">
                                    <!--*** START BIKIN BARU DUAL AXIS ***-->
                                        <!-- <chart-dual-vendor-3g [id]="'chartdiv'+lcid" [vendor]="i.vendor" [data]="i.data">
                                        </chart-dual-vendor-3g> -->
                                        <chart-bar-newCell3g [id]="'chartdiv2'" [data]="newlicenseChart3g[0]">
                                        </chart-bar-newCell3g>
                                    <!--*** END BIKIN BARU DUAL AXIS ***-->
                                </div>
                            </div>
                                <!-- <p style="    color: #fff;
                                position: absolute;
                                text-align: center;
                                width: 100%;
                                bottom: 50%;">Power (Watt)</p> -->
                            <div class="row">
                                <div class="col-6" *ngFor="let i of powerlicenseChart3g; let lcid = index" [attr.data-index]="lcid">
                                    <chart-bar-power [id]="'chartdiv3'" [data]="powerlicenseChart3g[0]">
                                    </chart-bar-power>
                                </div>
                            </div> 
                            <div class="row" style="bottom: 1%;position: absolute;">
                                <div class="legend-symbol" style="background:rgba(48, 208, 220, .9)"></div>
                                <div class="legend-text">: Active</div>
                                <div class="legend-symbol" style="background:rgba(252, 112, 115, .9)"></div>
                                <div class="legend-text">: Not Active</div>     
                                <div class="legend-symbol" style="background:rgba(151,122,208, .9)"></div>
                                <div class="legend-text">: Total</div>                       
                            </div>   
                            <div class="row" style="bottom: 5%;left: 5%;position: absolute;width: 100%;">
                                <div class="legend-text" style="margin-left: 5%" >Last Update: </div>
                                <div class="legend-text"> Monday, 18-March-2019</div>
                            </div>            
                        </div>            
                    </div>            
                </div> 
            
            <div class="col-md-4" style="margin-left: -7px;height: auto;">
                <div class="col-md-12" style="padding: 0px; height: 100%;">
                    <div class="kepalak">
                        <h5>License Chart 4G</h5>
                    </div> 
                    <div style="height: 90%;">
                        <div class="row">
                            <!-- <p style="color: #fff;
                            position: absolute;
                            text-align: center;
                            width: 100%;">Jumlah Cell </p> -->
                            <!-- <div class="col-6" *ngFor="let i of licenseChart4g; let lcid = index" [attr.data-index]="lcid"> -->
                            <div class="col-6" *ngFor="let i of newlicenseChart4g; let lcid = index" [attr.data-index]="lcid">

                                <!--*** START BIKIN BARU DUAL AXIS ***-->
                                    <!-- <chart-dual-vendor-4g [id]="'chartdiv'+lcid" [vendor]="i.vendor" [data]="i.data">
                                    </chart-dual-vendor-4g> -->
                                    <chart-bar-newCell4g [id]="'chartdiv4'" [data]="newlicenseChart4g[0]" style="height:100px !important">
                                    </chart-bar-newCell4g>
                                <!--*** END BIKIN BARU DUAL AXIS ***-->
                            </div>
                        </div>
                        <div class="row">
                            <!-- <p style="    color: #fff;
                                position: absolute;
                                text-align: center;
                                width: 100%;
                                bottom: 50%;">Power (Watt)</p> -->
                            <div class="col-6" *ngFor="let i of powerlicenseChart4g; let lcid = index" [attr.data-index]="lcid">
                                <chart-bar-power4g [id]="'chartdiv5'" [data]="powerlicenseChart4g[0]" style="height:100px !important">
                                </chart-bar-power4g>
                            </div>
                        </div>
                        <div class="row">
                        
                            <div class="col-6" *ngFor="let i of bandlicenseChart4g; let lcid = index" [attr.data-index]="lcid">
                                <chart-bar-band [id]="'chartdiv6'" [data]="bandlicenseChart4g[0]" style="height:100px !important">
                                </chart-bar-band>
                            </div>
                        </div> 
                        <div class="row" style="bottom: 1%;position: absolute;">
                            <div class="legend-symbol" style="background:rgba(48, 208, 220, .9)"></div>
                            <div class="legend-text">: Active</div>
                            <div class="legend-symbol" style="background:rgba(252, 112, 115, .9)"></div>
                            <div class="legend-text">: Not Active</div>     
                            <div class="legend-symbol" style="background:rgba(151,122,208, .9)"></div>
                            <div class="legend-text">: Total</div>                       
                        </div>   
                        <div class="row" style="bottom: 5%;left: 5%;position: absolute;width: 100%;">
                            <div class="legend-text" style="margin-left: 5%" >Last Update: </div>
                            <div class="legend-text"> Monday, 18-March-2019</div>
                        </div>                 
                    </div>            
                </div>            
            </div>  
        </div>
        
        <div class="row" style="margin-top: 1%;height: 50%;min-height: 350px;">  
            
            <!--**** Table License ****-->
            <div class="col-md-6" style="margin-left: -7px; height: auto;">   
                <div class="col-md-12" style="padding: 0px; height: 99%;">
                    <div class="kepalak">
                        <!-- <h5>License Per Vendor</h5> -->
                        <h5>License Per Area</h5>
                    </div> 
                    <div style="height: 90%;">
                        <mat-tab-group style="height: 100%">
                            <mat-tab style="height:100%">
                                <ng-template mat-tab-label>
                                    <div class="tab-head">2G</div>
                                </ng-template>
                                <ag-table-license [data]="egbtsData" [colDefs]="egbtsColDefs"></ag-table-license> 
                            </mat-tab>
                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <div class="tab-head">3G</div>
                                </ng-template>   
                                <ag-table-license [data]="nodebData" [colDefs]="nodebColDefs"></ag-table-license>
                            </mat-tab>
                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <div class="tab-head">4G</div>
                                </ng-template>   
                                <ag-table-license [data]="enodebData" [colDefs]="enodebColDefs"></ag-table-license>
                            </mat-tab>
                        </mat-tab-group>
    
                        <div class="row">
                            <div class="legend-text" style="margin-left: 5%;color: #fff" >Last Update: </div>
                            <div class="legend-text" style="color: #fff"> Monday, 18-March-2019</div>
                        </div>                     
                    </div>                
                </div>                 
            </div>    
        
            <div class="col-md-6" style="padding: 0px;height: auto;"> 
                <div class="col-md-12" style="padding: 0px; height: 99%;">
                    <div class="kepalak">
                        <h5>License Per Region</h5>
                    </div> 
                    <div style="height: 90%">
                        <mat-tab-group style=" height: 100%;">
                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <div class="tab-head">2G</div>
                                </ng-template>
                                <ag-table [data]="licenseRegion2g" [colDefs]="licenseChangeColDefs"></ag-table>                    
                            </mat-tab>
                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <div class="tab-head">3G</div>
                                </ng-template>   
                                <ag-table [data]="licenseRegion3g" [colDefs]="licenseChangeColDefs"></ag-table>                    
                            </mat-tab>
                            <mat-tab>
                                <ng-template mat-tab-label>
                                    <div class="tab-head">4G</div>
                                </ng-template>   
                                <ag-table [data]="licenseRegion4g" [colDefs]="licenseChangeColDefs"></ag-table>                    
                            </mat-tab>
                        </mat-tab-group>
    
                        <div class="row">
                            <div class="legend-text" style="margin-left: 5%;color: #fff" >Last Update: </div>
                            <div class="legend-text" style="color: #fff"> Monday, 18-March-2019</div>
                        </div>  
                    </div>
                </div>                               
            </div>
        </div>    
    </div>