<div class="license-container">
    <!-- <input type="button" value="CPTURE" (click)="captureScreen()"/> -->
    <div class="row" style="height: 50%; min-height: 350px;">
        <!--**** Map ****-->
        <div class="col-md-6" style="margin-left: -7px;height: auto;">
            <div class="col-md-12" style="padding: 0px; height: 95%;">
                <div style="text-align: left; width: 100%; padding: 2px 0px 0px 15px; color: greenyellow;height: 10%;background: #2d2d2d;border-radius: 5px 5px 0px 0px;">
                    <h5>License Map Chart</h5>
                </div> 
                <div style="height: 90%;background: #2d2d2d; border-top: 1px solid black">
                    <amchart-map [id]="id"></amchart-map>     
                </div>            
            </div>            
        </div>     
        
        <!--**** BTS On Air ****-->
        <div id="tes" class="col-md-6" style="height: auto;padding: 0px;">
             <div class="col-md-12" style="padding: 0px; height: 95%;background:#2d2d2d;border-radius: 5px 5px 0px 0px;">
                
                <div style="text-align: left; width: 100%; padding: 2px 0px 0px 15px; color: greenyellow;height: 10%;">
                    <h5>Summary BTS On Air</h5>
                </div>     
                
                <div class="tab">
                    <button class="tablinks active" (click)="techBtn($event)">Technology</button>
                    <button class="tablinks" (click)="dataBtn($event)">Detail Data</button>
                </div>
                <div *ngIf="tech == true" style="width: 100%;height: 70%;">
                    <div class="row" style="width: 100%;margin-left: 0px !important;margin-right: 0px !important;height: 50%;">                                                                   
                        <boa-form2 
                        style="width: 33%"
                        *ngFor="let i of dtech"                 
                        [header]="i.header" 
                        [row1]="i.row1" 
                        [row2]="i.row2" 
                        [row3]="i.row3">   
                        </boa-form2> 
                    </div>            
                        
                    <div class="row" style="width: 100%;margin-left: 0px !important;margin-right: 0px !important;height: 50%;">
                        <!-- <amchart-bts style="margin-left: 1px;width: 33%;height: 100%;" *ngFor="let i of dummyChart2" [id]="i"></amchart-bts>-->
                        <chart-dynamicas style="margin-left: 1px;width: 33%;height: 100%;" *ngFor="let i of dummyChart2" [id]="i"></chart-dynamicas>
                    </div>
                </div>      
                <div *ngIf="data == true" style="widows: 100%;height: 70%;">
                    <div class="row" style="width: 100%;margin-left: 0px !important;margin-right: 0px !important;height: 50%;">                                           
                        <boa-form2 
                        style="width: 33%"
                        *ngFor="let i of ddata"
                        [header]="i.header" 
                        [row1]="i.row1" 
                        [row2]="i.row2" 
                        [row3]="i.row3">   
                        </boa-form2>                    
                    </div>            
                        
                    <div class="row" style="width: 100%;margin-left: 0px !important;margin-right: 0px !important;height: 50%;">
                        <!-- <amchart-bts2 style="margin-left: 1px;width: 33%;height: 100%;" *ngFor="let i of dummyChart1" [id]="i"></amchart-bts2> -->
                        <chart-dynamicas style="margin-left: 1px;width: 33%;height: 100%;" *ngFor="let i of dummyChart1" [id]="i"></chart-dynamicas>
                    </div>
                </div>                                               
            </div>             
        </div>         
    </div>
    <div class="row" style="margin-top: 1%;height: 50%;min-height: 350px;">  
        
        <!--**** Table License ****-->
        <div class="col-md-6" style="margin-left: -7px; height: auto;">   
            <div class="col-md-12" style="padding: 0px; height: 99%;">
                <div style="text-align: left; width: 100%; padding: 2px 0px 0px 15px; color: greenyellow;height: 10%;background: #2d2d2d;border-radius: 5px 5px 0px 0px;border-bottom: 1px solid black;">
                    <h5>License Per Vendor</h5>
                </div> 
                <div style="height: 90%;">
                    <mat-tab-group style="background-color: #292929;height: 100%">
                        <mat-tab style="height:100%">
                            <ng-template mat-tab-label>
                                <div class="tab-head">2G</div>
                            </ng-template>
                            <ag-table-license [data]="egbtsData" [colDefs]="egbtsColDefs"></ag-table-license> 
                        </mat-tab>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <div class="tab-head">3G</div>
                            </ng-template>   
                            <ag-table-license [data]="nodebData" [colDefs]="nodebColDefs"></ag-table-license>
                        </mat-tab>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <div class="tab-head">4G</div>
                            </ng-template>   
                            <ag-table-license [data]="enodebData" [colDefs]="enodebColDefs"></ag-table-license>
                        </mat-tab>
                    </mat-tab-group>
                </div>                
            </div>                 
        </div>    
    
        <div class="col-md-6" style="padding: 0px;height: auto;"> 
            <div class="col-md-12" style="padding: 0px; height: 99%;">
                <div style="text-align: left; width: 100%; padding: 2px 0px 0px 15px; color: greenyellow;height: 10%;background: #2d2d2d;border-radius: 5px 5px 0px 0px;border-bottom: 1px solid black;">
                    <h5>License Per Region</h5>
                </div> 
                <div style="height: 90%">
                    <mat-tab-group style="background-color: #292929; height: 100%;">
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <div class="tab-head">2G</div>
                            </ng-template>
                            <ag-table [data]="licenseChange2g" [colDefs]="licenseChangeColDefs"></ag-table>                    
                        </mat-tab>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <div class="tab-head">3G</div>
                            </ng-template>   
                            <ag-table [data]="licenseChange3g" [colDefs]="licenseChangeColDefs"></ag-table>                    
                        </mat-tab>
                        <mat-tab>
                            <ng-template mat-tab-label>
                                <div class="tab-head">4G</div>
                            </ng-template>   
                            <ag-table [data]="licenseChange4g" [colDefs]="licenseChangeColDefs"></ag-table>                    
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </div>                               
        </div>
    </div>    
</div>