.license-container{
  width: 100%;
  height: 100%;
  min-height: 779px;
  background: #d2d2d2;
  padding: 25px;
}  
#bungkus {
  /* background: url("/assets/image/darkwall6.jpg") center center; */
  background: url("/dashboard-license/assets/image/darkwall6.jpg") center center;
}
.kepalak {
  border-bottom: rgba(150, 178, 138, 1) 3px solid;
  text-align: left; 
  width: 100%; 
  padding: 2px 0px 0px 15px; 
  color: #fff;
  height: 10%;
  border-radius: 5px 5px 0px 0px;
}

  
  /* PUNYA LAMA */
    .table-pdf{
      border: solid 1px black;
    }
    .th-pdf{
      border: solid 1px black;
    } 
    .tr-pdf{
      border: solid 1px black;
    } 
    .td-pdf{
      border: solid 1px black;
    }

    table{
      border: solid 1px black;
    }

    th{
      border: solid 1px black;
    }

    tr{
      border: solid 1px black;
    }

    td{
      border: solid 1px black;
    }

    .map-marker {
        /* adjusting for the marker dimensions
        so that it is centered on coordinates */
        margin-left: -8px;
        margin-top: -8px;
      }
      .map-marker.map-clickable {
        cursor: pointer;
      }
      .pulse {
        width: 10px;
        height: 10px;
        border: 5px solid #f7f14c;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px;
        background-color: #716f42;
        z-index: 10;
        position: absolute;
      }
      .map-marker .dot {
        border: 10px solid #fff601;
        background: transparent;
        -webkit-border-radius: 60px;
        -moz-border-radius: 60px;
        border-radius: 60px;
        height: 50px;
        width: 50px;
        -webkit-animation: pulse 3s ease-out;
        -moz-animation: pulse 3s ease-out;
        animation: pulse 3s ease-out;
        -webkit-animation-iteration-count: infinite;
        -moz-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        position: absolute;
        top: -20px;
        left: -20px;
        z-index: 1;
        opacity: 0;
      }
      @-moz-keyframes pulse {
        0% {
          -moz-transform: scale(0);
          opacity: 0.0;
        }
        25% {
          -moz-transform: scale(0);
          opacity: 0.1;
        }
        50% {
          -moz-transform: scale(0.1);
          opacity: 0.3;
        }
        75% {
          -moz-transform: scale(0.5);
          opacity: 0.5;
        }
        100% {
          -moz-transform: scale(1);
          opacity: 0.0;
        }
      }
      @-webkit-keyframes "pulse" {
        0% {
          -webkit-transform: scale(0);
          opacity: 0.0;
        }
        25% {
          -webkit-transform: scale(0);
          opacity: 0.1;
        }
        50% {
          -webkit-transform: scale(0.1);
          opacity: 0.3;
        }
        75% {
          -webkit-transform: scale(0.5);
          opacity: 0.5;
        }
        100% {
          -webkit-transform: scale(1);
          opacity: 0.0;
        }
      }
    
      /* ::ng-deep .mat-tab-labels {
        color:white;    
        } */
      
      ::ng-deep .mat-tab-header {
        height: 35px;
        background-color: rgba(255, 255, 255, .1);
      }
      ::ng-deep .mat-tab-label:hover {
        background-color: rgba(255, 255, 255, .8);
        color: #fff;
      }

      ::ng-deep .default-theme .mat-tab-label, .default-theme .mat-tab-link {
        color: rgba(0, 0, 0, 0.87);
        border-right: 3px solid #000000;
        background:  #141514;
      }

      .tab-head{
        color: white;
        margin-top: -10px;
        z-index:9999;
      }

      ::ng-deep .mat-drawer-content {
        background: black;
      }

      .fas.fa-broadcast-tower {
        size: 7px
      }

      .chart-icon {
        width: 105px;
        height: 93px;
        padding: 12px 7px 1px 17px;
        margin: 2px;
        background: #fb8508;
        border-radius: 5px;
        box-shadow: 2px 2px 2px 2px #77460d;
        font-size: 21px;
        font-weight: 400;
        color: white;
      }  

      .activation-icon{
        width: 210px;
        height: 90px;
        margin-right: 5px;
        background: #191916;
        font-size: 25px;
        color: white;
        padding: 9px 0px 0px 32px;
      }

      ::ng-deep .carousel-inner {
        margin-left: 0px;
      }

      ::ng-deep .carousel-control-prev{
        margin-left: -55px;
      }

      ::ng-deep .carousel-control-next{
        margin-right: -55px;
      }

      .matcip{
        width: 100px;
        background-color: #283593;
      }

      .matcip-label{
        width: 100%;
        text-align: center;
      }
      ::ng-deep .black-theme .mat-chip.mat-standard-chip.mat-chip-selected.mat-primary {
        background-color: #2612cc;
      }

      ::ng-deep .mat-tab-body-wrapper {
        height: 100%;
      }

    /* Style the tab */
    .tab {
      overflow: hidden;
      border: 1px solid #191916;
      background-color: #191916;
      height: 10%;
    }

    .tab :active {
      background: #f7f14c;
    }

    /* Style the buttons inside the tab */
    .tab button {
      background-color: inherit;
      float: none;
      border: none;
      outline: none;
      cursor: pointer;  
      padding: 0px 16px;
      transition: 0.3s;
      font-size: 17px;
      color: white;
      height: 100%;
      font-family: Roboto, "Helvetica Neue", sans-serif;
    }

    /* Change background color of buttons on hover */
    .tab button:hover {
      
    }

    /* Create an active/current tablink class */
    .tab button.active {
      background-color: #303030;
    }

    /* Style the tab content */
    .tabcontent {
      display: none;
      padding: 6px 12px;
      -webkit-animation: fadeEffect 1s;
      animation: fadeEffect 1s;
      height: 100%;
    }

    /* Fade in tabs */
    @-webkit-keyframes fadeEffect {
      from {opacity: 0;}
      to {opacity: 1;}
    }

    @keyframes fadeEffect {
      from {opacity: 0;}
      to {opacity: 1;}
    }

    .tablinks{
      height: 20px;
    }

    .legend-text {  
      font-size: 11px;
      color: white;
      margin-left: 10px;
    }

    .legend-symbol {
      width: 13px;
      height: 13px;
      margin-left: 30px;
      margin-top: 2px;
    }

    .legend-symbol-4g {
      width: 13px;
      height: 13px;
      margin-left: 5px;
      margin-top: 2px;
    }
  /* PUNYA LAMA */

