<div style="padding-left: 15px;width: 100%; height: 100%;background: white; padding-bottom: 50px;">
    <!-- <input type="button" value="CPTURE" (click)="printElem('tes')"/>   -->    
    <div id="nodin-area" class="container" style="width: 100%; height: 100%;background: white;color:black;">
        <div class="row">
            <div class="col-12"> 
                <button onclick="window.print()" style="float: left;"><mat-icon>print</mat-icon> Print</button>                
            </div>
            <div class="col-12">                
                <h4 style="
                font-style:italic;
                font-style: italic;
                color: black;
                font-weight: 640;
                float: right;">NOTA DINAS</h4>
            </div>
            <br>
            <br>

            <!-- bagian 1 -->
            <div class="col-12">
                <pdf-bag1 style="width:100%"></pdf-bag1>
            </div>
                
            <div class="pdf-content-text">            
            <!-- blaah -->
            <div class="col-12" style="margin-top: 23px;">
                <div>1. Merujuk pada :</div>
                <div style="padding-left: 18px;">
                    <div>a. Keputusan Direktur Network Perseroan No. 022/NF.01/NT-00/VI/2014 tertanggal 18 Juni
                            2014 tentang Kebijakan RAN Planning Guideline Direktur Network Perseroan.</div>
                    <div>b. Keputusan Direksi Perseroan No. 003/FN.04/PD-00/III/2017 tanggal 10 Maret 2017 tentang
                            Pedoman Pelaksanaan, Pengendalian Rencana Kerja dan Anggaran Tahun 2017.
                            </div>                
                    <div>c. Nodin GM. RAN & CORE Network Deployment No. 062/TC.01/NL-11/VIII/2018 tertanggal 1
                            Agustus 2018 tentang Pelaporan On Air New Site dan Modernisasi Bulan Juli 2018</div>
                    <div>d. MOM Laporan BTS On Air Bulan Juli 2018 tertanggal 13 Agustus 2018.</div>  
                </div>
                
            </div>
            
            <!-- 2 -->
            <div class="col-12" style="margin-top: 20px;">
                <p>2. Sesuai hasil laporan poin 1.c dan 1.d dan data BTS hasil rekon Div. RAN Operation,
                        pertumbuhan jumlah BTS dan site untuk periode 1-31 Juli 2018 adalah sebagai berikut:</p>
                <div style="padding-left: 18px;">
                        <table id="contentToConvert" class="table-pdf">  
                            <tr class="tr-pdf">  
                                <th class="th-pdf">Radio Network Capacity
                                        Built (Unit) </th>  
                                <th class="th-pdf" style="width: 70px;text-align: center;">Feb-18</th>  
                                <th class="th-pdf" style="width: 70px;text-align: center;">Mar-18</th>  
                                <th class="th-pdf" style="width: 70px;text-align: center;">Apr-18</th>  
                                <th class="th-pdf" style="width: 70px;text-align: center;">May-18</th>  
                                <th class="th-pdf" style="width: 70px;text-align: center;">Jun-18</th>  
                                <th class="th-pdf" style="width: 70px;text-align: center;">Jul-18</th>  
                            </tr>  
                            <tr class="tr-pdf" *ngFor="let i of tablePdf1">
                                <td class="td-pdf">{{i.title}}</td>  
                                <td class="td-pdf">{{i.data1}}</td>  
                                <td class="td-pdf">{{i.data2}}</td>  
                                <td class="td-pdf">{{i.data3}}</td>  
                                <td class="td-pdf">{{i.data4}}</td>  
                                <td class="td-pdf">{{i.data5}}</td>  
                                <td class="td-pdf">{{i.data6}}</td>
                            </tr>                           
                        </table>  
                </div>        
                
            </div>

            <!-- 3 -->
            <div class="col-12" style="margin-top: 20px;">
                <p>3. Detail BTS On Air per Regional adalah sebagai berikut :</p>
                <div style="padding-left: 18px;">
                    <table class="table-pdf">
                        <tr>
                            <th colspan="7" style="width:450px;text-align:center;">Resume SysInfo JULI 2018</th>                            
                        </tr>
                        <tr>
                            <th rowspan="2">No</th>
                            <th rowspan="2">Regional</th>
                            <th colspan="2">2G</th>
                            <th colspan="2">3G</th>
                            <th colspan="2">4G</th>
                        </tr>
                        <tr>
                            <th>BSC</th>
                            <th>BTS</th>
                            <th>RNC</th>
                            <th>NODEB</th>
                            <th>ENODEB</th>
                        </tr>
                        <tr *ngFor="let i of tablePdf2">
                            <td>{{i.no}}</td>
                            <th>{{i.regional}}</th>
                            <td>{{i.data1}}</td>
                            <td>{{i.data2}}</td>
                            <td>{{i.data3}}</td>
                            <td>{{i.data4}}</td>
                            <td>{{i.data5}}</td>
                        </tr>
                        <tr>
                            <th colspan="2">TOTAL</th>
                            <th>498</th>
                            <th>50315</th>
                            <th>344</th>
                            <th>82219</th>
                            <th>47616</th>
                        </tr>
                    </table> 
                </div>                                  
            </div>
            
            <!-- 4 -->
            <div class="col-12" style="margin-top: 20px;">
                <p>4. Achievement New Site On Air periode Juli 2018 berkurang 3 NE dari 4470 menjadi 4467 karena
                    sudah pernah dilaporkan sebagai achievement periode sebelumnya.</p>
                <div style="padding-left: 18px;">
                    <table>
                        <tr>
                            <th>Region</th>
                            <th>SiteNo</th>
                            <th>Site Name</th>
                            <th>Band</th>
                            <th>Vendor</th>
                            <th>Remark</th>
                        </tr>
                        <tr *ngFor="let i of tablePdf3">
                            <td>{{i.region}}</td>
                            <td>{{i.data1}}</td>
                            <td>{{i.data2}}</td>
                            <td>{{i.data3}}</td>
                            <td>{{i.data4}}</td>
                            <td>{{i.data5}}</td>
                        </tr>
                    </table>
                </div>
            </div>

            <!-- 5 -->
            <div class="col-12" style="margin-top: 20px;">
                <p>5. Demikian kami sampaikan, atas perhatian dan kerjasamanya diucapkan terimakasih.</p>
            </div>

            <!-- tempat tanggal -->
            <div class="col-12" style="margin-top: 40px;">
                <p>Jakarta, 15 Agustus 2018</p>
            </div>

            <!-- VP -->
            <div class="col-12" style="margin-top: 70px;">
                <b>Djoko S Kuntjoro</b>
                <div>VP Network Infrastructure Management</div>
            </div>

            <!-- tembusan -->

            <div class="col-12" style="margin-top: 40px;">
                <b>Tembusan:</b>
                <div *ngFor="let i of tembusan">{{i.no}}. {{i.person}}</div>
            </div>

            <!-- tempat tanggal -->
            <div class="col-12" style="margin-top: 40px;">
                <p>Jakarta, 15 Agustus 2018</p>
            </div>

            <!-- list person -->
            <div class="row col-12" style="margin-top: 40px;">
                <div class="col-6" *ngFor="let i of listPerson" style="margin-top:15px;">
                    <pdf-bag2 [name]="i.name" [title]="i.title"></pdf-bag2>
                </div>                    
            </div>

            <!-- tembusan 2 -->
            <div class="col-12" style="margin-top: 40px;">
                <b>Tembusan:</b>
                <div *ngFor="let i of tembusan2">{{i.no}}. {{i.person}}</div>
            </div> 
        </div>
        </div>
    </div>
</div>