table{
    border: solid 1px black;
  }
  
  th{
    border: solid 1px black;
  }
  
  tr{
    border: solid 1px black;
  }
  
  td{
    border: solid 1px black;
  }

  .pdf-content-text{
      font-size: 15px;
  }